
<div class="box-body">
	<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
			<i class="fa fa-minus"></i>
		</button>
		<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
			<i class="fa fa-times"></i>
		</button>
	</div>
	<br><br>
	<div class="container">
		<div class="row" id="conteudoAbaMenu"></div>
	</div>
</div>

<script>

resolvAbaMenu([
		{ desc: 'Produto'	, file: 'produto' 	, icon: 'produto.png' }
	, 	{ desc: 'Categoria'	, file: 'categoria' , icon: 'categoria.png' }
], "\"cadastro,Cadastro\"")

</script>
